<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <style>
            #container {
                margin: auto;
                text-align: center;
            }
            #form-container {
                margin: 50px;
            }
            #submit {
                margin: 50px;
                width: 100px;
            }
            textarea {
                resize: none;
            }
        </style>
    </head>
    <body>
        <div id='container'>
            <header id='header'>
                <h1>Word Counter</h1>
            </header>
            <div id='form-container'>
                <form method="POST" action="words">
                    {% csrf_token %}
                    <textarea name="text" rows="20" cols="50" autofocus=true>
                    </textarea>
                    <br/>
                    <input id='submit' type='submit' value="Check"/>
                </form>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>